.panel {
  display: flex;
  padding: 10px 20px;
  border-radius: 12px;
  flex-direction: column;
  background-color: #fff;
}

.panel h3 {
  font-weight: 600;
  margin-bottom: 16px;
  color: #333;
}

.tableWrapper {
  margin: 10px 0;
  border: 1px solid #e5e5e5;
  border-radius: 8px;

  table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    white-space: nowrap;
  }

  th {
    font-weight: 600;
    font-size: 14px;
    color: #333;
  }

  td {
    font-size: 14px;
    color: #444;
  }

  tr:hover {
    background: #fafafa;
    cursor: pointer;
  }
}

.tableFooter {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerBtn {
  background: #f9f9fc;
  color: black;
  padding: 8px 32px;
  border-radius: 4px;
  transition: 0.2s ease;
}

.footerBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.specialTd {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.popupOption {
  font-weight: 500;
  padding: 8px 20px;
}

.rowMenu {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 1000;
  background-color: #ffffff;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 6px;
}

.popupOption:hover {
  background-color: #eeeeee;
}

@media (max-width: 768px) {
  .panel {
    padding: 16px;
  }

  .panel h3 {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .tableWrapper {
    th:nth-child(3),
    td:nth-child(3) {
      display: none;
    }
  }

  .tableFooter {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .footerBtn {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .panel {
    padding: 12px;
  }

  .panel h3 {
    font-size: 15px;
  }

  .tableWrapper {
    th:nth-child(2),
    td:nth-child(2),
    th:nth-child(4),
    td:nth-child(4) {
      display: none;
    }
  }
}
